* {
  background-color: lightgrey;
  text-align: center;
}

#inGame {
  border: black 10px solid;
  width: 97%;
  height: 600px;
/*  background-color: grey;
*/  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;

}

@media all and (min-width: 400px) {
  /* We tell both sidebars to share a row */
  .playy { flex: 1 auto; }
}

@media all and (min-width: 200px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  #sideMenu { flex: 2 0px; }
  #sideMenu { order: 1; }
  #mainText  { order: 2; }
  #stats { order: 3; }
}

/*TITLE PAGE*/
#icon {
  border-radius: 20%;
  animation: bob 5s infinite;
  box-shadow: 10px 10px 5px;
  position: absolute;
}
@keyframes bob {
  0%{top: 270px;}
  50%{top: 290px;}
  100%{top: 270px;}
}

/*all three elements*/
.playy {
  display: flex;
  position: relative;
  border: 1px black dotted;
}

/*MAIN PAGE*/
#mainText {
  width: 70%;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  text-align: left;
  align-self: flex-start;
}

.decision {
  background-color: yellow;
}

/*STATS*/
#stats {
  width: 100%;
  height: 180px;
}

/*SIDE MENU*/
#sideMenu {
  width: 30%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#portrait {
  height: 5vw;
  width: 5vw;
  position: relative;
}
#ethnicity {
  height: 2vw;
  width: 2vw;
  position: absolute;
  border-radius: 50%;
  top: 45px;
  left: 45px;
}
#name {
  position: relative;
  font-size: 1.5vw;
}
#levelUp {
  position: relative;
  height: 100px;
  width: 100px;
}