* {
  background-color: lightgrey;
  text-align: center;
}

#in-game {
  border: black 10px solid;
  width: 97%;
  min-height: 600px;
  margin: 1%;
}

h3 {
  color: white;
  font-size: 30px;
  background-color: grey;
}
